@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css');
@import "tailwindcss";

body {
	background:#fff;
}

html {
    font-family: 'Pretendard variable', sans-serif;
    font-size: 14px;
    color: #000;
    letter-spacing: -0.5px;
    line-height: 1.6;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
}

img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

p,
span,
em,
strong,
b {
    font-size: 100%;
    color: inherit;
    font-family: inherit;
}


 body::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: rgba(250, 243, 230, 1);
}

body::-webkit-scrollbar-thumb {
  background: #8d645d;
}